@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alumnos Test</h1>
    <p class="lead">Este proyecto se ha creado con el fin de explicar el uso de los unit test.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Ver tutorial &raquo;</a></p>
</div>
